<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
</head>
<body>
<div align="center">
  <h1>文章列表</h1>

{{user.name}}
    {% for i in articles.object_list %}
        {{ i.title }}<br>
        {% empty %}
            没数据
    {% endfor%}

    {%if articles.has_other_pages %}
        {% for num in articles.paginator.page_range %}
            <a href="/myblog/article_list">{{ num }}</a>
        {% endfor %}
        {{page.number}}
    {% endif %}

    {% if articles.has_previous %}
    <a href="/myblog/article_list">首页</a>
    {% endif %}




</div>

</body>
</html>