<!DOCTYPE html>
<html>
<head>
	<title>change password</title>
	<link rel="stylesheet" href="/static/css/style1.css">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Lambent Login Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>

	<h1>change password</h1>
	<div class="main-agileinfo">
		<h2>change password NOW</h2>
		<form action="/myblog/lastpwd/" method="POST">
			{% csrf_token %}
			{{ msg }}
			<input type="text" name="name" class="name" placeholder="Usename" required="">
			<input type="password" name="pwd" class="password" placeholder="Password" required="">
			<input type="password" name="newpwd" class="password" placeholder="NewPassword" required="">
			<!--<a href="{% url 'myblog:register'%}">立即注册</a>-->
            <a href="{% url 'myblog:login'%}">返回登陆?</a><br>
			<div class="clear"></div>
			<input type="submit" value="修改">
		</form>
	</div>

</body>
</html>